Common.Agenda/Service References/ClassActivityDataService/ClassActivityDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClassActivityDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IClassActivityDataService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://tellme.fastsolucoes.com.br/wcf/ClassActivityDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://tellme.fastsolucoes.com.br/wcf/ClassActivityDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://tellme.fastsolucoes.com.br/wcf/ClassActivityDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TellMe.Web.Wcf" />
      <xsd:import schemaLocation="http://tellme.fastsolucoes.com.br/wcf/ClassActivityDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClassActivityDataService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IClassActivityDataService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IClassActivityDataService_GetByClassIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByClassIds" />
  </wsdl:message>
  <wsdl:message name="IClassActivityDataService_GetByClassIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByClassIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IClassActivityDataService_GetByClassNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByClassNames" />
  </wsdl:message>
  <wsdl:message name="IClassActivityDataService_GetByClassNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByClassNamesResponse" />
  </wsdl:message>
  <wsdl:portType name="IClassActivityDataService">
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassActivityDataService/Save" message="tns:IClassActivityDataService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassActivityDataService/SaveResponse" message="tns:IClassActivityDataService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByClassIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassActivityDataService/GetByClassIds" message="tns:IClassActivityDataService_GetByClassIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassActivityDataService/GetByClassIdsResponse" message="tns:IClassActivityDataService_GetByClassIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByClassNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassActivityDataService/GetByClassNames" message="tns:IClassActivityDataService_GetByClassNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassActivityDataService/GetByClassNamesResponse" message="tns:IClassActivityDataService_GetByClassNames_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClassActivityDataService" type="tns:IClassActivityDataService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IClassActivityDataService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IClassActivityDataService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByClassIds">
      <soap:operation soapAction="http://tempuri.org/IClassActivityDataService/GetByClassIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByClassNames">
      <soap:operation soapAction="http://tempuri.org/IClassActivityDataService/GetByClassNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClassActivityDataService">
    <wsdl:port name="BasicHttpBinding_IClassActivityDataService" binding="tns:BasicHttpBinding_IClassActivityDataService">
      <soap:address location="https://tellme.fastsolucoes.com.br/wcf/ClassActivityDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>