Common.Agenda/Service References/ClassActivityDataService/ClassActivityDataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tellme.fastsolucoes.com.br/wcf/ClassActivityDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TellMe.Web.Wcf" />
  <xs:import schemaLocation="http://tellme.fastsolucoes.com.br/wcf/ClassActivityDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TellMe.Web.Wcf" minOccurs="0" name="classData" nillable="true" type="q1:ClassActivityData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByClassIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="classIds" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByClassIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TellMe.Web.Wcf" minOccurs="0" name="GetByClassIdsResult" nillable="true" type="q3:ArrayOfClassActivityDescriptiveData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByClassNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="classNames" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByClassNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TellMe.Web.Wcf" minOccurs="0" name="GetByClassNamesResult" nillable="true" type="q5:ArrayOfClassActivityDescriptiveData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>