Common.Agenda/Service References/StudentDataService/StudentDataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TellMe.Web.Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TellMe.Web.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tellme.fastsolucoes.com.br/wcf/StudentDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="StudentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Classes" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Contacts" nillable="true" type="tns:ArrayOfBaseUserData" />
      <xs:element minOccurs="0" name="HasFoodRestrictions" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentData" nillable="true" type="tns:StudentData" />
  <xs:complexType name="ArrayOfBaseUserData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaseUserData" nillable="true" type="tns:BaseUserData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaseUserData" nillable="true" type="tns:ArrayOfBaseUserData" />
  <xs:complexType name="BaseUserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseUserData" nillable="true" type="tns:BaseUserData" />
</xs:schema>