src/Common.Agenda/Service References/ClassActivityDataService/ClassActivityDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TellMe.Web.Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TellMe.Web.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tellme.fastsolucoes.com.br/wcf/ClassActivityDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ClassActivityData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Books" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="ClassId" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeWork" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeacherId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClassActivityData" nillable="true" type="tns:ClassActivityData" />
  <xs:complexType name="ArrayOfClassActivityDescriptiveData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClassActivityDescriptiveData" nillable="true" type="tns:ClassActivityDescriptiveData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClassActivityDescriptiveData" nillable="true" type="tns:ArrayOfClassActivityDescriptiveData" />
  <xs:complexType name="ClassActivityDescriptiveData">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Books" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomeWork" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeacherName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClassActivityDescriptiveData" nillable="true" type="tns:ClassActivityDescriptiveData" />
</xs:schema>