src/Common.Agenda/Service References/UserDataService/UserDataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TellMe.Web.Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TellMe.Web.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tellme.fastsolucoes.com.br/wcf/UserDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SchoolUserData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseUserData">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Classes" nillable="true" type="q1:ArrayOfint" />
          <xs:element minOccurs="0" name="UserRole" type="tns:UserRoleEnaumData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SchoolUserData" nillable="true" type="tns:SchoolUserData" />
  <xs:complexType name="BaseUserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseUserData" nillable="true" type="tns:BaseUserData" />
  <xs:simpleType name="UserRoleEnaumData">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Admin" />
      <xs:enumeration value="Coordinator" />
      <xs:enumeration value="Teacher" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserRoleEnaumData" nillable="true" type="tns:UserRoleEnaumData" />
</xs:schema>